/*
Simple gallery paragraph
*/

// Colour variables used in this paragraph
$i-p-gallery-line-color: $color-agamemnon !default;
$i-p-gallery-color: $color-hecuba !default;

// Margins, paddings and sizing.
$i-p-gallery-line-margin-top: 1rem !default;
$i-p-gallery-line-margin-bottom: 1rem !default;
$i-p-gallery-margin-y: 5% !default;

.paragraph--type--i-p-gallery {
  margin-top: $i-p-gallery-margin-y;
  margin-bottom: $i-p-gallery-margin-y;

  > h2 {
    @include font-main-header;
    text-align: center;
  }

  .field--name-field-d-long-text {
    p {
      color: $i-p-gallery-color;
      text-align: center;
    }

    &:before {
      @include decoration-header-line-main-center;
      background: $i-p-gallery-line-color;
      margin-top: $i-p-gallery-line-margin-top;
      margin-bottom: $i-p-gallery-line-margin-bottom;
    }
  }

  .field--name-field-i-image {
    img {
      width: 100%;
      height: auto;
    }
  }
}

